@mixin heading_baseline($heading) {
  $line_height: map-deep-get($cyrillic, headings, $heading, line_height);
  $margin_top: map-deep-get($cyrillic, headings, $heading, margin_top);
  $margin_bottom: map-deep-get($cyrillic, headings, $heading, margin_bottom);

  @include line_height($line-height);
  @include margin_top($margin-top);
  @include margin_bottom($margin-bottom);

}