@mixin heading-baseline($heading) {
  $line_height: map-deep-get($cyrillic, headings, $heading, line_height);
  $padding_top: map-deep-get($cyrillic, headings, $heading, margin_top);
  $margin_bottom: map-deep-get($cyrillic, headings, $heading, margin_bottom);

  @include line-height($line-height);
  @include padding-top($padding_top);
  @include margin-bottom($margin-bottom);

}