@mixin line-height($number: 1) {
  @for $i from 1 through $breakpoints-length {
    $point: nth($breakpoints-keys, $i);

    @include up($point) {

      // если значений $line-height меньше, чем значений $breakpoints
      @if $i > $line-heights-length {
        $line-height: nth($line-heights-values, $line-heights-length);

        // ограничиваем длину $modular-scale до  длины $line-heights
        $font-base: map-deep-get($modular-scale, nth($scale-keys, $line-heights-length), zeta);
        $module: round($font-base * $line-height);
        $result: $number * $module;

        line-height: to-rem($result);

      // если значений $line-height и $breakpoints одинаковое количество
      } @else {
        $line-height: nth($line-heights-values, $i);
        $font-base: map-deep-get($modular-scale, nth($scale-keys, $i), zeta);
        $module: round($font-base * $line-height);

        $result: $number * $module;

        line-height: to-rem($result);
      }
    }
  }
}