@mixin margin-top($number: 1) {
  @for $i from 1 through $breakpoints_length {
    $point: nth($breakpoints_keys, $i);

    @include up($point) {
      // if breakpoints-length > line-heights-length
      @if $i > $line-heights_length {
        $line_height: nth($line_heights_values, $line_heights_length);
        $scale_key: nth($breakpoints_keys, $line_heights_length);
        $font_base: map-deep-get($cyrillic, modular_scale, $scale_key, zeta);
        $leading: round($font_base * $line_height);
        $module: $number * $leading;

        margin-top: to-rem($module);

      // if breakpoints-length < line-heights-length
      }@else {
        $line_height: nth($line_heights_values, $i);
        $scale_key: nth($breakpoints_keys, $i);
        $font_base: map-deep-get($cyrillic, modular_scale, $scale_key, zeta);
        $leading: round($font_base * $line_height);
        $module: $number * $leading;

        margin-top: to-rem($module);
      }
    }
  }
}

@mixin margin-bottom($number: 1) {
  @for $i from 1 through $breakpoints_length {
    $point: nth($breakpoints_keys, $i);

    @include up($point) {
      // if breakpoints-length > line-heights-length
      @if $i > $line-heights-length {
        $line_height: nth($line_heights_values, $line_heights_length);
        $scale_key: nth($breakpoints_keys, $line_heights_length);
        $font_base: map-deep-get($cyrillic, modular_scale, $scale_key, zeta);
        $leading: round($font_base * $line_height);
        $module: $number * $leading;

        margin-bottom: to-rem($module);

      // if breakpoints-length < line-heights-length
      }@else {
        $line_height: nth($line_heights_values, $i);
        $scale_key: nth($breakpoints_keys, $i);
        $font_base: map-deep-get($cyrillic, modular_scale, $scale_key, zeta);
        $leading: round($font_base * $line_height);
        $module: $number * $leading;

        margin-bottom: to-rem($module);
      }
    }
  }
}