.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  @include height(5);
  background: rgba(black, 0.3);
}

.container {
  @include container(gap);
}