html,
body {
  width: 100%;
  height: 1px;
  min-height: 100vh;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  // display: flex;
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  @include height(6);
}

.container {
  position: relative;
  width: 94%;
  margin: 0 auto;
  clear: fix;
  // background-color: rgba(black, 0.05);

  @include up(lg) {
    @include max-width(lg);
  }

  @include up(xl) {
    @include max-width(xl);
  }
}

.single-measure {
  @include measure(all);
  margin: 0 auto;
}

%column {
  @include measure(xs);

  margin: 0 auto;
  width: 100%;

  @include up(sm) {
    float: left;
    margin: initial;
    max-width: initial;
    @include padding(0, 0.5);
  }

  @include up(lg) {
    @include padding(0, 1);
  }
}

// Two columns.
.column--duo {
  @extend %column;
  @include up(sm) {
    @include col(6)

    &:nth-of-type(2n+3) {
      clear: left;
    }

    &:nth-of-type(n+3) {
      @include margin-top(1.5);
    }
  }
}

// Three columns.
.column--trio {
  @extend %column;
  @include up(sm) {
    @include col(4);

    &:nth-of-type(3n+4) {
      clear: left;
    }

    &:nth-of-type(n+4) {
      @include margin-top(1.5);
    }
  }
}

// Four columns. Two at smaller breakpoints.
.column--quad {
  @extend %column;
  @include up(sm) {
    @include col(6);
  }

  @include up(md) {
    @include col(3);
  }
}

// Main column.
.column--main {
  @extend %column;
  @include up(sm) {
    @include ideal-measure(sm, 0.5);
  }

  @include up(md) {
    @include ideal-measure(md);
  }

  @include up(lg) {
    @include ideal-measure(md);
  }

  @include up(xl) {
    @include ideal-measure(xl, 2);
  }
}

// Sidebar.
.column--sidebar {
  @extend %column;
  @include up(sm) {
    @include ideal-measure(sm, 1, false);
  }

  @include up(md) {
    @include ideal-measure(md, 1, false);
  }

  @include up(xl) {
    @include ideal-measure(xl, 2, false);
  }
}

// If sidebar on the right side.
.column--main + .column--sidebar {
  @include up(sm) {
   @include padding(0, 1, 0, 2);
  }
}

// Set the main text one level down in the modular scale for narrower columns.
.column--trio,
.column--quad,
.column--sidebar {

  @include up(lg) {

    p {
      @include font-size(eta);
    }

    li {
      @include font-size(eta);
    }
  }
}


// Main column on the right with inline sidenotes.
// The sidenotes will move out the column into the sidebar position aligned to the baseline.
.column--right {
  @include up(sm) {
    @include ideal-measure(sm, 0.5, false, margin-left);
  }

  @include up(md) {
    @include ideal-measure(md, 2.5, false, margin-left);
  }

  @include up(md) {
    @include ideal-measure(md, 2.5, false, margin-left);
  }

  @include up(xl) {
    @include ideal-measure(xl, 2, false, margin-left);
  }

  .sidenote {
    color: lighten($text_color , $light);

    @include up(sm) {
      position: absolute;
      left: 0;
      @include ideal-measure(sm, 1, false);
      @include padding(0, 1, 0, 0.5);
    }

    @include up(md) {
      @include padding(0, 1);
    }

    @include up(xl) {
      @include ideal-measure(xl, 2, false);
    }
  }
}

// Main column on the left with inline sidenotes.
.column--left {

  @include up(sm) {
    @include ideal-measure(sm);
  }

  @include up(md) {
    @include ideal-measure(md, 2.5, false, left);
  }

  @include up(xl) {
    @include ideal-measure(xl, 2.5);
  }

  .sidenote {
    color: lighten($text_color , $light);

    @include up(sm) {
      position: absolute;
      @include ideal-measure(sm, 1, false);
      @include ideal-measure(sm, 1, true, left);
      @include padding(0, 0.5, 0, 1);
    }

    @include up(md) {
      @include padding(0, 0.5, 0, 2);
    }

    @include up(md) {
      @include padding(0, 0.5, 0, 2);
    }

    @include up(xl) {
      @include ideal-measure(xl, 2.5, false);
      @include ideal-measure(xl, 2.5, true, left);
    }
  }
}

 .caption {
  @include font-size(theta);
 }