//-  HEAD
include ../_jade/head

//- COMPONENTS
include ../components/header/header
include ../components/footer/footer

doctype html
html(lang="ru")
  +head()
  body
    .wrap
      +header()
      .content
        block content

      +footer()
    .double-grid
    script(src="js/main.js")
