$cyrillic: (
  breakpoints: (
   xs: 0,    // 0px       Mobile first
   sm: 640,    // 640px   ~ Small tablet up
   md: 800,    // 800px   ~ Large tablet up
   lg: 1200,   // 1024px  ~ Desktop up
   xl: 1600    // 1600px  ~ Large desktop up
  ),

  max_widths: (
    xs: 500,    // 500px wide
    sm: 600,    // 600px wide
    md: 800,    // 800px wide
    lg: 1170,   // 110px wide
    xl: 1300    // 1300px wide
  ),

  measures: (
    xs: 500,  // 500px wide
    sm: 550,  // 550px wide
    md: 600,  // 600px wide
    lg: 640,  // 680px wide
    xl: 750   // 750px wide
  ),

  line_heights: (
    xs: 1.6,
  ),

  modular_scale: (
   // Major Third http://www.modularscale.com/?16,28&px&1.25&web&text
   xs: (
     alpha:   35.0,
     beta:    25.0,
     gamma:   22.4,
     delta:   20.0,
     epsilon: 17.9,
     zeta:    16.0,
     eta:     14.3,
     theta:   12.8,
     iota:    11.5
   ),
   // Major Third http://www.modularscale.com/?17,30&px&1.25&web&text
   sm: (
     alpha:   73.2,
     beta:    26.6,
     gamma:   24.0,
     delta:   21.3,
     epsilon: 19.2,
     zeta:    17.0,
     eta:     15.3,
     theta:   13.6,
     iota:    12.8
   ),
   // Major Third http://www.modularscale.com/?18,32&px&1.25&web&text
   md: (
     alpha:   97.6,
     beta:    28.1,
     gamma:   25.6,
     delta:   22.5,
     epsilon: 20.5,
     zeta:    18.0,
     eta:     16.3,
     theta:   14.4,
     iota:    13.1
   ),
   // Perfect Fourth http://www.modularscale.com/?20,40&px&1.333&web&text
   lg: (
     alpha:   126.2,
     beta:    43.9,
     gamma:   35.3,
     delta:   31.1,
     epsilon: 25.0,
     zeta:    22.0,
     eta:     17.6,
     theta:   15.6,
     iota:    12.5
   )
  ),

  headings: (
    h1: (
      line_height: 2,
      margin_top: 4,
      margin_bottom: 1,
      ),
    h2: (
      line_height: 1.5,
      margin_top: 2.5,
      margin_bottom: 0.5,
      ),
    h3: (
      line_height: 1,
      margin_top: 2,
      margin_bottom: 0.5,
      ),
    h4: (
      line_height: 1,
      margin_top: 1.5,
      margin_bottom: 0.5,
      ),
    h5: (
      line_height: 1,
      margin_top: 2.5,
      margin_bottom: 0.5,
      ),
    h6: (
      line_height: 1,
      margin_top: 2.5,
      margin_bottom: 0.5,
      )
  )
) !default;

// BREAKPOINTS
$breakpoints: map-get($cyrillic, breakpoints) !default;
$breakpoints_values: map-values($breakpoints) !default;
$breakpoints_length: length($breakpoints) !default;
$breakpoints_keys: map-keys($breakpoints) !default;

// MAXWIDTH
$max_widths: map-get($cyrillic, max_widths) !default;
$max_widths_values: map-values($max_widths) !default;

// MEASURE
$measures: map-get($cyrillic, measures) !default;
$measures_values: map-values($measures) !default;


// MODULAR SCALE
$modular_scale: map-get($cyrillic, modular_scale) !default;
$scale_length: length($modular_scale) !default;
$scale_keys: map-keys($modular_scale) !default;

// LINEHEIGHTS
$line_heights: map-get($cyrillic, line_heights) !default;
$line_heights_length: length($line_heights) !default;
$line_heights_values: map-values($line_heights) !default;
