$line-heights: (
  xs: 2,
) !default;

$line-heights-length: length($line-heights) !default;
$line-heights-values: map-values($line-heights) !default;
$line-heights-keys: map-keys($line-heights) !default;