$rootsizes: (
  xs: 12,   // 24px line-height body text
  sm: 14,   // 28px line-height body text
  md: 15,   // 30px line-height body text
  lg: 17,   // 34px line-height body text
  xl: 19    // 38px line-height body text
) !default;

$rootsizes-length: length($rootsizes);
$sizes: map-values($rootsizes);