html,
body {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

button {
  display: inline-block;
  vertical-align: middle;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  text-align: center;
  text-decoration: none;
}

select {
  border-radius: 0;
}

// VERTICAL GRIDS
%grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.grid {
  @extend %grid-overlay;
  @include grid();
}

.double-grid {
  @extend %grid-overlay;
  @include double-grid();
}
