html {
  font-size: $font-root;
}


body {
  @include font-size(zeta);
  @include line-height();
  font-style: normal;
  font-weight: 400;
  hyphens: auto;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}