extends ../../templates/layout

block head
  - var pageTitle = 'Cyrillic';

block content
  .container
      .single-measure
        h1 Lorem ipsum dolor sit amet
        p
          | Consectetur adipisicing elit, alias at autem magna aliquid 
          a(href='#') quam proident
          |  quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
        p
          | Quos atque officia quod. 
          i Suscipit delectus
          |  cupidatat, quia nulla numquam aute cillum proident. Maiores iusto culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa earum itaque sed consequatur minus aliquip reprehenderit nihil veniam tempora do maxime omnis reiciendis elit tempora.
        ol
          li Perferendis tempor
          li Minim eiusmod 
          li Tempor
          li Minus quia sint

        //- img(src="/img/plantin-letterpress.jpg", alt="")
        h2 Voluptates mollitia quod tempore laboris commodi
        p
          | Proident dolores corrupti consequatur voluptatibus labore commodi quos. 
          b Incidunt mollitia
          |  tempora assumenda laborum voluptate accusamus dolore optio incididunt. Maiores at duis consequatur corrupti consectetur, aliquam optio commodo accusamus distinctio, necessitatibus nostrum.
        p
          | Optio, nesciunt, quo, fugiat, blanditiis at quas excepturi quae maiores vel corrupti voluptate cupiditate nemo! In, eius quidem harum quibusdam ratione non. Iste, deleniti, fugit, voluptas aperiam qui adipisci provident ab accusantium possimus eveniet voluptate consectetur!
        h2 Repellat optio
        h3 Ad perferendis omnis
        .img__wrap
          div.svg__img
        p
          | Pariatur animi quis. Dolorem cupiditate 
          a(href='#') praesentium duis
          |  iusto corrupti nobis nostrud, exercitation consequatur. Nulla minim dignissimos reprehenderit voluptatem. Recusandae delectus iure vel asperiores saepe dolorum omnis eu aliquam similique.
        blockquote
          p
            | Fuga rerum laboris officia cupidatat, excepteur aliquid ut quis facere, cumque harum optio dignissimos. Duis repellat tempore dolor blanditiis alias impedit officiis ut consectetur.
        pre
          code.
            body {
              color: blue;
            }

        h4 Quibusdam illum quo
        p
          | Quos laboris eos, laborum animi. Ea blanditiis ducimus fugiat officia nostrud consectetur recusandae excepteur. Quis qui maiores distinctio facilis saepe eos.
        h5 Consectetur nobis consequat voluptates eiusmod
        p
          | Iure vel nostrud repellendus. 
          b Nostrud
          |  autem consequatur, provident officiis qui, mollit exercitation. Veniam minus cillum suscipit aliqua, tenetur. Anim mollitia necessitatibus ad quos consectetur voluptatem do 
          a(href='#') corporis
          | .
        ul
          li Perferendis tempor
          li Minim eiusmod 
          li Tempor
          li Minus quia sint
        p
          | Corporis eligendi minim, enim proident reprehenderit iusto. 
          i Reprehenderit
          |  commodo commodi, repudiandae voluptas saepe sint libero. Praesentium eius distinctio ullamco vero iusto praesentium eligendi animi. Consectetur dolore vero similique dolore, ut labore omnis.
        h6 Maxime alias anim similique
        p
          | Omnis corporis assumenda nisi ullam dolores culpa repellat. Molestias praesentium necessitatibus minus, reiciendis officiis commodo incidunt. Consectetur nostrud odio numquam tenetur.

    .container.typeset
      .column.column--duo
        h1 Super long title which goes over a couple of lines
        p
          | Consectetur adipisicing elit, alias at autem magna aliquid 
          a(href='#') quam proident
          |  quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      .column.column--duo
        h3 A second column
        p
          | Quos atque officia quod. 
          i Suscipit delectus
          |  cupidatat, quia nulla numquam aute cillum proident. Maiores iusto culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa earum itaque sed consequatur minus aliquip reprehenderit nihil veniam tempora do maxime omnis reiciendis elit tempora.
    .container.typeset
      .column.column--trio
        h6 Column one
        p
          | Consectetur adipisicing elit, alias at autem magna aliquid 
          a(href='#') quam proident
          |  quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      .column.column--trio
        h6 Column two
        p
          | Quos atque officia quod. 
          i Suscipit delectus
          |  cupidatat, quia nulla numquam aute cillum proident. Maiores iusto culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa earum itaque sed consequatur minus aliquip reprehenderit nihil veniam tempora do maxime omnis reiciendis elit tempora.
      .column.column--trio
        h6 Column three
        p
          | Quos atque officia quod. 
          i Suscipit delectus
          |  cupidatat, quia nulla numquam aute cillum proident. Maiores iusto culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa earum itaque sed consequatur minus aliquip reprehenderit nihil veniam tempora do maxime omnis reiciendis elit tempora.
    .container.typeset
      .column.column--quad
        h6 Column one
        p
          | Consectetur adipisicing elit, alias at autem magna aliquid 
          a(href='#') quam proident
          |  quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      .column.column--quad
        h6 Column two
        p
          | Quos atque officia quod. 
          i Suscipit delectus
          |  cupidatat, quia nulla numquam aute cillum proident. Maiores iusto culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa earum itaque sed consequatur minus aliquip reprehenderit nihil veniam tempora do maxime omnis reiciendis elit tempora.
      .column.column--quad
        h6 Column three
        p
          | Quos atque officia quod. 
          i Suscipit delectus
          |  cupidatat, quia nulla numquam aute cillum proident. Maiores iusto culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa earum itaque sed consequatur minus aliquip reprehenderit nihil veniam tempora do maxime omnis reiciendis elit tempora.
      .column.column--quad
        h6 Column four
        p
          | Quos atque officia quod. 
          i Suscipit delectus
          |  cupidatat, quia nulla numquam aute cillum proident. Maiores iusto culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa earum itaque sed consequatur minus aliquip reprehenderit nihil veniam tempora do maxime omnis reiciendis elit tempora.
    .container.typeset
      .column.column--main
        h6 Main column
        p
          | Consectetur adipisicing elit, alias at autem magna aliquid 
          a(href='#') quam proident
          |  quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
        p
          | Consectetur adipisicing elit, alias at autem magna aliquid 
          a(href='#') quam proident
          |  quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      .column.column--sidebar
        h6 Sidebar
        p
          | Quos atque officia quod. 
          i Suscipit delectus
          |  cupidatat, quia nulla numquam aute cillum proident. Maiores iusto culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa earum itaque sed consequatur minus aliquip.
    .container.typeset
      .column.column--sidebar
        h6 Sidebar
        p
          | Quos atque officia quod. 
          i Suscipit delectus
          |  cupidatat, quia nulla numquam aute cillum proident. Maiores iusto culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa earum itaque sed consequatur minus aliquip.
      .column.column--main
        h6 Main column
        p
          | Consectetur adipisicing elit, alias at autem magna aliquid 
          a(href='#') quam proident
          |  quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
        p
          | Consectetur adipisicing elit, alias at autem magna aliquid 
          a(href='#') quam proident
          |  quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
    .container.typeset
      .column.column--main.column--right
        h6 Main column
        p
          | Consectetur adipisicing elit, alias at autem magna aliquid 
          a(href='#') quam proident
          |  quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
        p.caption.sidenote This is an inline caption.
        p
          | Consectetur adipisicing elit, alias at autem magna aliquid 
          a(href='#') quam proident
          |  quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
        p
          | Consectetur adipisicing elit, alias at autem magna aliquid 
          a(href='#') quam proident
          |  quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
    .container.typeset
      .column.column--main.column--left
        h6 Main column
        p
          | Consectetur adipisicing elit, alias at autem magna aliquid 
          a(href='#') quam proident
          |  quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
        p.caption.sidenote This is a long inline caption that will probably go across a couple of lines.
        p
          | Consectetur adipisicing elit, alias at autem magna aliquid 
          a(href='#') quam proident
          |  quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
        p
          | Consectetur adipisicing elit, alias at autem magna aliquid 
          a(href='#') quam proident
          |  quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.