extends ../../templates/layout

block head
  - var pageTitle = 'Главная';

block content
  .container
    h1 Heading
    h2 Heading
    h3 Heading
    h4 Heading
    h5 Heading
    h6 Heading
    p.
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur, repellat, quam magni odit fuga fugiat
