extends ../../templates/layout

block head
  - var pageTitle = 'Главная';

block content
  .container
    p.
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur, repellat, quam magni odit fuga fugiat
