@mixin font-size($font_size) {
  @for $i from 1 through $breakpoints_length {
    $breakpoint_key: nth($breakpoints_keys, $i);

    @include up($breakpoint_key) {

      // если значений $line-height меньше, чем значений $breakpoints
      @if $i > $line_heights_length {
        $line_height: nth($line_heights_values, $line_heights_length);

        @if $i <= $scale_length {
          $scale_key: nth($scale_keys, $i);
          $font_base: map-deep-get($modular_scale, $scale_key, $font_size);

          font-size: rem($font_base);
        }
      // если значений $line-height и $breakpoints одинаковое количество
      } @else {
        $line_height: nth($line_heights_values, $i);
        $scale_key: nth($scale_keys, $i);
        $font_base: map-deep-get($modular_scale, $scale_key, $font_size);

        font-size: rem($font_base);
      }
    }
  }
  }
